* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
*:disabled {
    @apply cursor-not-allowed opacity-50;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* Top bar styles */
.topbar{
    @apply py-2 px-4 sm:px-8 hover:bg-gray-50 transition duration-300 ease-in-out dark:hover:bg-gray-800 rounded-full text-gray-500 dark:text-gray-300;
}
.topbar.active{
    @apply border-b-2 text-gray-800 hover:bg-white dark:text-white dark:hover:bg-gray-900 border-primary-600 rounded-sm;
}

/* Cropper js */

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

.cropper-line,
.cropper-point {
    border-radius: 50%;
    background-color: #fff;
}
